
# Day 9 / AWS secrets
.venv/
__pycache__/
*.pem
*.key
.env
*.tfstate
*.tfstate.*
*access-key*
*.log.secret

# Python / AWS lab
.venv/
__pycache__/
*.tfstate
*.tfstate.*
*.pem
*.key
.env
*access-key*

# Kubernetes local files
.kube/
kubeconfig*
*.pem
*.key
.env
*.log
